{% extends 'admin/master/admin.html.twig' %} 
{% block css %}
<style type="text/css">
.content {
    padding: 20px;
    background: #fff;
}

table.table-hover>tbody>tr:hover {
    background: #F9E79F;
}
</style>
{% endblock %} {% block body_content %}
<section class="hk-sec-wrapper">
    <div class="row">
        <div class="col-sm">
            <div class="table-wrap">
                <div class="table-responsive">
                    <table
                        class="table table-bordered table-hover table-striped mb-0">
                        <thead class="thead-active">
                            <tr>
                                <th width="auto"></th>
                                <th width="200px">{{'lbl.role.access-view'|trans}}</th>
                                <th width="200px">{{'lbl.role.access-edit'|trans}}</th>
                                <th width="200px">{{'lbl.role.access-delete'|trans}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for module in data.modules %} 
                                {% if module.type == 'session' %}
                                    {% set text_menu = module.name %}
                                {% else %}
                                    {% if module.type == 'group' %}
                                        <tr>
                                            <td colspan="4" class="bg-secondary">
                                                <div class="text-muted font-11 rb-sup-admin-menu">({{text_menu|trans}})</div>
                                                <div class="text-white">{{module.name|trans}}</div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="pl-20"><i class="fas fa-chevron-right"></i> {{module.name|trans}}</td>
                                            <td>
                                                <div
                                                    class="custom-control custom-checkbox checkbox-primary">
                                                    <input type="checkbox"
                                                        class="custom-control-input rb-admin-permission"
                                                        rb-data-id="{{module.id}}"
                                                        rb-data-level="{{data.level_view}}"
                                                        rb-data-module="{{module.name}}"
                                                        id="module-{{module.name}}-view" />
                                                    <label
                                                        for="module-{{module.name}}-view"
                                                        class="custom-control-label"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div
                                                    class="custom-control custom-checkbox checkbox-primary">
                                                    <input type="checkbox"
                                                        class="custom-control-input rb-admin-permission"
                                                        rb-data-id="{{module.id}}"
                                                        rb-data-level="{{data.level_edit}}"
                                                        rb-data-module="{{module.name}}"
                                                        id="module-{{module.name}}-edit" />
                                                    <label
                                                        for="module-{{module.name}}-edit"
                                                        class="custom-control-label"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div
                                                    class="custom-control custom-checkbox checkbox-primary">
                                                    <input type="checkbox"
                                                        class="custom-control-input rb-admin-permission"
                                                        rb-data-id="{{module.id}}"
                                                        rb-data-level="{{data.level_delete}}"
                                                        rb-data-module="{{module.name}}"
                                                        id="module-{{module.name}}-delete" />
                                                    <label
                                                        for="module-{{module.name}}-delete"
                                                        class="custom-control-label"></label>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endif %} 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block script %}
<script type="text/javascript">
var sendGranted = ($ob) => {
    var json = {
            id: '{{data.role_id}}',
            level: BOB.getLevel($ob),
            module: BOB.getModule($ob)
    }
    BAJAX.send("{{path(data.router_permission_update)}}", json, function(data){
        if(BCOMMON.isOk(data)) {
            BALERT.show('',data.data.message,BALERT.TYPE.success);
        }
    }, 'POST');
}
    $(function() {
        BAJAX.send("{{path(data.router_permission)}}", {id:'{{data.role_id}}'}, function(data){
            if(BCOMMON.isOk(data)) {
                $('input.rb-admin-permission').each(function(){
                    var $ob = $(this);
                    var item = data.data[BOB.getModule($ob)];
                    if(item) {
                        if(item.access_rights[BOB.getLevel($ob)]) {
                            $ob.trigger('click');
                        }
                    }
                    $ob.unbind('click').click(function(){
                        sendGranted($(this));
                    });
                });
            }
        }, 'POST');
    });
</script>
{% endblock %}
