<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

    <h3>Chào {{fullName}} !</h3>
    <div>
        Mật khẩu tài khoản của bạn đã được cập nhật thành công vào lúc : <span style="color:#f00">{{datetime}}</span>
        <br/>
        Nếu bạn không thực hiện thao tác này, vui lòng liên hệ: <span style="color:#F00"> {{domain}} </span>
        <br/>
        <br/>
        <a class='btn btn-primary' href="{{link}}">Đăng nhập</a>
        <br/>
        <br/>
    </div>
    <br/>
    Trân trọng !
    <br/>
    HK CMS V1.0.0
    
    <hr/>

    <h3>Dear {{fullName}} !</h3>
    <div>
        Your password was changed at : <span style="color:#f00">{{datetime}}</span>
        <br/>
        If you didn't do it, please contact us: <span style="color:#F00"> {{domain}} </span>
        <br/>
        <br/>
        <a class='btn btn-primary' href="{{link}}">Login here</a>
        <br/>
        <br/>
    </div>
    <br/>
    Best regards !
    <br/>
    HK CMS V1.0.0
</body>
